<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Form</title>
</head>
<body>

    <div class="container-sm mt-5">
        
        <div class="row justify-content-center mx-3">
            <form method="post" name="user-reg" enctype="multipart/form-data" class="p-3 border align-items-start border-3 rounded-2 border-dark">
                {% csrf_token %}
                <h2 class="text-center">FORM</h2>
            
                {% for field in form %}
                {% if field.errors %}
                    <div class="control-group error">
                        <label class="control-label">{{ field.label }}</label> 
                        <div class="controls">{{ field }}
                            <span class="help-inline text-danger">
                                {% for error in  field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </span>
                        </div>
                    </div>
                {% else %}
                    <div class="control-group my-2">
                        <div class="controls">
                            <label class="control-label">{{ field.label }}</label>
                            {{ field }}
                            {% if field.help_text %}
                                <p class="help-inline"><small>{{ field.help_text }}</small></p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
    
              <button type="submit" class="btn btn-success w-100 my-2">Submit</button>
            </form>
        </div>
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show w-25 my-3 mx-auto" role="alert">
            <strong> {{ message }} </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% endif %}  
    </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>